.playlist {
  display: flex;
  width: 40vw;
  flex-direction: column;
  background-color: rgba(0, 140, 255, 0.082);
  border: 4px solid rgba(65, 126, 206, 0.158);
  border-radius: 10px;
  height: 100% !important;
}

.playlist input {
  width: 100%;
  height: fit-content;
  font-size: 32px;
  background-color: transparent;
  border: none;
  text-align: left;
  color: white;
  font-weight: 700;
  text-align: left;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.356);
}

input {
  outline: none;
}

.playlist .add-button {
  display: none !important;
}

.save-to-spotify-button {
  display: flex;
  position: relative;
  bottom: 0;
}

.save-to-spotify-button:enabled {
  outline: none;
}

.save-to-spotify-button:active {
  outline: auto !important;
}

.save-to-spotify-button-container {
  padding: 1%;
}

.playlist-items-container .add-track-button {
  display: hidden !important;
}
