.save-to-spotify-button {
  color: rgb(133, 100, 211);
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 45px;
  text-align: center;
  width: 13rem;
  margin: 0 auto;
  bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .save-to-spotify-button {
    width: 75%;
    justify-content: center;
    margin: 0 auto;
    bottom: 10px;
  }
}
