.save-to-spotify-button {
  color: rgb(133, 100, 211);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 13rem;
  text-align: center;
}

.save-to-spotify-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .save-to-spotify-button-container {
    padding-bottom: 1%;
    padding-top: 1%;
  }
}
