.track-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.track-list button {
  color: rgb(226, 96, 9);
  font-family: initial;
  position: absolute;
  display: flex;
  right: 10px;
  gap: 15%;
}


.playlist-items-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  position: relative;
  font-size: 1.2rem;
  overflow-y: scroll;
}

.track {
  justify-content: space-around;
}

.track-list div {
  text-align: left;
  display: flex;
  flex-direction: column;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #d8d3d9 #1d4c72;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  padding: 2%;
  width: 8px;
  scrollbar-gutter: auto;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
  background: #e9e9e900;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #827f8321;
  border-radius: 10px;
  border: 2px solid #378bcf86;
  scroll-behavior: smooth;
}
