*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.app-full {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: space-evenly;
  padding: 2%;
}

.app-header {
  padding-bottom: 5%;
}

.app-header strong {
  color: rgb(133, 100, 211);
}

.results-playlist-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80%;
  padding-bottom: 4%;
  padding-top: 4%;
}
footer {
  display: none !important;
}
.playlist-items-container {
  padding: 2%;
}
.results-container {
  padding: 2%;
}
html {
  background: #360033; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #0b8793,
    #360033
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #0b8793,
    #360033
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (max-width: 400px) {
  div {
    font-size: 12px;
  }
  footer {
    display: none;
  }
  .results-container .add-button {
    font-size: 20px;
    padding: 2%;
  }

  .track-list .remove-button {
    font-size: 20px;
    padding: 0%;
  }
}

@media only screen and (max-width: 600px) {
  .results-playlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    gap: 0;
    justify-items: space-evenly;
    justify-content: space-evenly;
  }
  .results-container .add-button {
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .track-list .remove-button {
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  footer {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 952px) {
  .app-full {
    padding: 5%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .app-header {
    padding-bottom: 2%;
    font-size: 80px;
  }
  .app-full{
    padding-top: 2%;
  }

  .results-playlist-container {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .results-container .add-button {
    font-size: 20px;
    padding: 1%;
    margin-bottom: 0;
  }
  .track-list .remove-button {
    font-size: 20px;
    padding: 1.2%;
    margin-bottom: 0;
  }

  .playlist-container {
    height: 100%;
  }
  .playlist-items-container {
    padding: 2%;
  }
  .results-container {
    padding: 2%;
  }
  .save-to-spotify-button {
    display: flex;
    font-size: 20px;
    padding: 1%;
  }

  h2 {
    padding-left: 2%;
  }
}

@media only screen and (orientation: landscape) and (min-width: 600px) and (max-width: 970px) {
  * {
    font-size: small;
  }

  .app-header {
    font-size: 42px;
    width: 100%;
    height: 100%;
    padding-bottom: 2%;
  }
  .app-header-container {
    width: 100%;
  }
  strong {
    font-size: 36px;
  }
  footer {
    display: none;
  }

  .search-bar input {
    display: flex;
    width: 35vw;
  }

  .playlist .playlist-items-container {
    padding: 2%;
  }

  .results-container {
    padding: 2%;
  }
  .results-playlist-container {
    padding: 2%;
  }
  h2 {
    padding-left: 2%;

    font-size: 16px;
  }
  input {
    font-size: 16px !important;
  }
  .save-to-spotify-button {
    font-size: smaller;
  }
}
