*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 3%;
}

.app-full {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-header strong {
  color: rgb(133, 100, 211);
}

.results-playlist-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 70% !important;
  padding-bottom: 4%;
  padding-top: 4%;
}

html {
  background: #360033; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #0b8793,
    #360033
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #0b8793,
    #360033
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (max-width: 600px) {
  .results-playlist-container {
    display: flex;
    flex-direction: column;
    height: 100% !important;
    align-items: center;
    padding: 0;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
